<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <base href="https://minigamepc.herokuapp.com/" /> -->
    <base href="http://localhost:3000/" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./scripts/web3.js"></script>
    <script src="./process.js"></script>
    <style>
        #tbDS{
            width: 90%;
        }
        #dong1 td{
            text-align: center;
            padding: 4px;
            border-bottom: solid 1px #643;
        }
    </style>
</head>
<body>
    <h2>Minigame</h2>
    <button id="connectMM">Connect Meta Mask</button> 
    <div id="fromDangKy">
        <input id= "txtHoTen" type="text" placeholder="Họ Tên" />
        <input id= "txtEmail" type="text" placeholder="Email" />
        <input id= "txtSoDT" type="text" placeholder="Điện Thoại" />
        <button id= "btnDangKy">submit</button>
    </div> 
    <div id="danhsach">
        <table id="tbDS">
            <tr id = "dong1">
                <td>Address</td>
                <td>_ID</td>
            </tr>
        </table>
    </div>
</body>
</html>